<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319356681576-kjilaaeiqf92mam2fhjc3fh2idfvo604.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319356681576-kjilaaeiqf92mam2fhjc3fh2idfvo604</string>
	<key>API_KEY</key>
	<string>AIzaSyBLmtMCyA3ikssFkmnWI5vJ1Ws5WczsSmo</string>
	<key>GCM_SENDER_ID</key>
	<string>319356681576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickSagan.LoanMoney</string>
	<key>PROJECT_ID</key>
	<string>loanmoney-9186f</string>
	<key>STORAGE_BUCKET</key>
	<string>loanmoney-9186f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319356681576:ios:0b46226edd4a6448e4aadd</string>
</dict>
</plist>