<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>390940121566-l5e9vi97k177n0of461u5rgclmieeut0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390940121566-l5e9vi97k177n0of461u5rgclmieeut0</string>
	<key>API_KEY</key>
	<string>AIzaSyBR79Zz0a5ccHSJTUByRGISOwTSVD609Eo</string>
	<key>GCM_SENDER_ID</key>
	<string>390940121566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NickSagan.LoanMoney</string>
	<key>PROJECT_ID</key>
	<string>loanmoney-36cba</string>
	<key>STORAGE_BUCKET</key>
	<string>loanmoney-36cba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390940121566:ios:4221464c60200f17ea254f</string>
</dict>
</plist>